{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Please enter (and confirm) your new password.</p>
        <form action="" method="POST">
            {% csrf_token %}
                <table>
                    <tr>
                        <td> 
                            {{ form.new_password1.errors }} 
                            <label for="id_new_password1">New password:</label>
                        </td>
                        <td> 
                            {{ form.new_password2.errors }} 
                            <label for="id_new_password2">Confirmn password:</label>
                        </td>
                    </tr>
                </table>
        </form>
    {% endif %}
{% endblock %}