{% extends "base_generic.html" %}

{% block content %}
    <h1>All borrowed books</h1>
    <h4>ordered by users</h4>

    {% if bookinstance_list %}
        <ul>
            {% for bookinst in bookinstance_list %}
                <li class="
                    {% if bookinst.is_overdue %}
                        text-danger
                    {% endif %}
                ">
                    <a href="{% url 'book-detail' bookinst.book.pk %} ">         {{bookinst.book.title}} ({{bookinst.borrower}}-{{bookinst.due_back}}) </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nobody is borrowing any books now.</p>
    {% endif %}

{% endblock %}